@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Reggae+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kirang+Haerang&family=Source+Code+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lobster&display=swap');
* {
    margin: 0px;
    padding: 0px;
}


/* #navbar {
    display: flex;
    background-color: #697ce4;
    height: 90px;
    width: 100%;
} */

#navbar {
    display: flex;
    align-items: center;
    position: absolute;
    /* position: sticky */
    top: 0px;
}

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 150%;
    z-index: -1;
    opacity: .8;
}

#logo img {
    height: 90px;
    width: 270px;
    padding-left: 30px;
}

.element {
    padding-left: 30%;
}

#navbar ul {
    line-height: 35px;
    display: flex;
    /* text-align: center; */
    margin: 2px 14px;
    padding: 10px;
    float: right;
}

#navbar ul li {
    list-style: none;
    margin: 15px;
    font-size: 1.5rem;
}

#navbar ul li a {
    font-family: 'Reggae One', cursive;
    color: white;
    padding: 10px 12px;
    text-decoration: none;
}

#navbar ul li a:hover {
    color: black;
    background-color: white;
    border-radius: 5px;
}


/* .mainmenu li ul {
    width: 205px;
    height: auto;
    position: absolute;
    top: 80px;
    left: 0px;
    z-index: 10;
    display: none;
} */


/*  HOME SECTION  */

#home {
    display: flex;
    height: 550px;
    width: 900px;
    /* padding: 0px 200px; */
    /* border: 2px solid red; */
    color: white;
    font-family: 'Reggae One', cursive;
    font-size: 1.4rem;
    /* background-color: tomato; */
}

#home .heading {
    padding: 91px 155px;
    /* padding: 43px 15px; */
    margin: 0px 155px;
    padding-top: 91px;
    margin-top: 130px;
    padding-left: 29px;
}

#home::before {
    content: "";
    position: absolute;
    background: url("bg3.jpg") no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}

div .heading {
    height: 100x;
    width: 150px;
}


/* PRODUCT SECTION  */

#product-container {
    margin-top: 35px;
    /* border: 2px solid blueviolet; */
    background-color: rgb(224, 223, 217);
    height: 100%;
    width: 100%;
}


/* #product-container::before {
    content: "";
    position: absolute;
    background: url("bg10.png") no-repeat center center/cover;
    height: 201%;
    width: 100%;
    z-index: -1;
    opacity: .6;
} */

#product-container .h1-prod {
    /* border: 2px solid blue; */
    font-size: 2rem;
    /* color: white; */
    background-color: rgb(153, 153, 153);
    text-align: center;
    margin: 20px auto;
    padding: 15px;
}

#product-container #product {
    display: flex;
    flex-wrap: wrap;
    margin: 50px;
    /* max-width: 1300px; */
}

#product .box {
    border: 2px solid rgb(20, 20, 20);
    background-color: darkgray;
    border-radius: 20px;
    margin: 22px;
    height: 414px;
    /* width: 400px; */
}

#product .h-prod {
    text-align: center;
    color: rgb(3, 3, 3);
    font-family: 'Indie Flower', cursive;
    padding: 20px;
    padding-bottom: 0px;
    font-size: 1.9rem;
}

#product img {
    margin: 27px;
    padding: 30px;
    /* border: 2px solid red; */
    /* background-color: white; */
    border-radius: 20px;
    height: 250px;
    width: 250px;
}


/* client-section */

#client-section {
    height: 340px;
}

#client-section::before {
    content: "";
    position: absolute;
    background: url("bg44.jpg") no-repeat center center/cover;
    height: 50%;
    width: 100%;
    z-index: -1;
    opacity: .5;
}

#clients {
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-item {
    padding: 34px;
}

#clients img {
    height: 120px;
    /* width: 160px; */
}


/* contact section */

#contact {
    position: relative;
}

#contact::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("contact1.jpg") no-repeat center center/cover;
    z-index: -1;
    opacity: 0.4;
}

#contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}

#contact-box input,
#contact-box textarea {
    width: 100%;
    padding: .5rem;
    border-radius: 10px;
    font-size: 1rem;
}

#contact-box form {
    width: 40%;
}

#contact-box label {
    font-size: 1.5rem;
    font-family: 'Bree Serif', serif;
}


/* footer section */

footer {
    background-color: black;
    color: blanchedalmond;
    padding: 10px 20px;
    /* justify-content: center; */
    text-align: center;
}

.h-primary {
    text-align: center;
    font-family: 'Reggae One', cursive;
    font-size: 2.8rem;
    padding: 12px;
}